<?xml version="1.0"?>
<model>
  <name>two_dof_arm</name>
  <version>1.0</version>
  <sdf version="1.6">two_dof_arm.sdf</sdf>
  
  <author>
    <name>Kristoffer Jensen</name>
    <email>krik@mmmi.sdu.dk</email>
  </author>
  
  <maintainer email="krik@mmmi.sdu.dk">Kristoffer Jensen</maintainer>
  
  <description>
    Upright two degree of freedom robotic arm model.
  </description>
</model>
